<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <label>Cédula</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-4">
            <label>Nombres</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-5">
            <label>Dirección</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-3">
            <label>Celular</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-4">
            <label>Teléfono</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-5">
            <label>Email</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-7">
            <label>Especialidad</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn-primary mt-4 "><i class="far fa-save"></i> Guardar</button>
    </div>

    <div class="card card-plain">
        <div class="card-header">
            <h4 class="card-title"> Lista de médicos</h4>
            <input type="text" class="form-control" placeholder="Buscar médicos">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <th>Cédula</th>
                        <th>Nombres</th>
                        <th>Dirección</th>
                        <th>Celular</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Especialidad</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1208766283</td>
                            <td>Manuel Sanches</td>
                            <td>Av. diciembre</td>
                            <td>0983736738</td>
                            <td>203943</td>
                            <td>mal@gmail.com</td>
                            <td>Médico General</td>
                            <td>
                                <button class="btn btn-danger btn-sm mr-3">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                                <button class="btn btn-info btn-sm">
                                    <i class="far fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>