<nav class="navbar navbar-expand-lg navbar-dark bg-light pt-0 pb-0">
    <a class="navbar-brand text-dark">
        <img src="../../../assets/img/logo-patronato.jpg" width="50"> Patronato La Maná
    </a>
</nav>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="text-right">
                <button class="btn btn-success" [routerLink]="'/consultar-historia'">
                    <i class="fas fa-search"></i> Consultar mi historia
                </button>
            </div>
            <div class="card-login">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 info-login ">
                            <div class=" h-100 text-white text-center">
                                <h2 style="position: absolute; top: 30%; margin-left: 30px; margin-right: 30px;">
                                    <b>Patronato del cantón La Maná</b>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-5 ">
                            <div class="p-3">
                                <br>
                                <h5 class="mt-2">Iniciar Sesión</h5>
                                <br>
                                <label>Usuario:</label>
                                <input type="text" class="form-control">
                                <br>
                                <label>Contraseña:</label>
                                <input type="password" class="form-control">
                                <br>
                                <div class="text-right">
                                    <button class="btn btn-primary" [routerLink]="['/admin']">Ingresar</button>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>